header,body,footer{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' ; 
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ヘッダー */
*:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cp_cont {
  height: 65vh;
}
/* menu */
.cp_offcm02 {
  position: relative;
  z-index: 5;
  left: 0;
  visibility: visible;
  width: 100%;
  height: auto;
  padding-top: 0;
  text-align: center;
  opacity: 1;
}
.cp_offcm02 nav {
  background: rgba(90, 88, 88, 0.95);
}
.cp_offcm02 nav, .cp_offcm02 ul {
  height: 100%;
}
.cp_offcm02 li {
  display: inline-block;
  margin-right: -6px;
  border: none;
  color: #ffffff;
}
.cp_offcm02 a {
  display: block;
  padding: 12px 45px;
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}
.cp_offcm02 a:hover {
  background-color: rgb(0, 0, 0 ,0.2);
}
/* menu toggle */
#cp_toggle02 {
  display: none;
}
.cp_mobilebar {
  display: none;
}
/* content */
.cp_container {
  position: relative;
  top: 0px;
  margin-top: 0;
  padding: 35px auto;
  -webkit-transition: transform .3s ease-in;
  transition: transform .3s ease-in;
}
.cp_content {
  margin: 0 auto;
  padding: 20px;
  height: 65vh;
  text-align: center;
}
.info{
    color: rgb(245, 105, 11);
}
/* 上の写真 */
.head-image{
  width: 100%;
  height:450px;
  opacity: 0.8;
}
/* タイトル */
.page__title{
  text-align: center;
  padding:20px 0;
}
/* google form */
.google-form{
  position: relative;
  width: 100%;
  height:0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.google-form iframe{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
 /* テーブル */ 
table{
  width: 100%;
}

table th{
  position: relative;
  text-align: left;
  width: 15%;
}

table th:after{
  display: block;
  content: "";
  width: 10%;
  height: 2px;
  background-color: #333;
  position: absolute;
  top:calc(50% - 1px);
  right:20%;
}
table td{
  text-align: left;
  width: 85%;
}
.middle-wrapper{
  padding-bottom: 80px;
  width: 86%;
  margin:0 auto;
}
.list{
  width: 86%;
  margin:0 auto;
}
.space-bottom{
  padding-bottom: 140px;
}
.free-list{
  width: 50%;
  float: left;
}
.time-list{
  width:50%;
  float: left;
}
.list-title{
  border-left: 7px solid rgb(94, 194, 252);
  padding-left: 10px;
}
.list-title_second{
  font-size: 20px;
  color: rgb(7, 148, 101);
}
/* footer */
footer{
  background-color:rgba(90, 88, 88, 0.95);
  width: 100%;
  height:60px;
  position: fixed;
  bottom: 0;
  display: inline-block;
  margin: 0;
  box-shadow: 0 -3px 3px 0 rgba(0,0,0,0.2);
}
footer .copyright {
  float: left;
  width: 60%;
}
footer .copyright p {
  font-size: 0.7em;
  line-height: 45px;
  padding-left: 10%;
  letter-spacing: 1px;
  color: #ffffff;
}
footer .sns {
  float: right;
  width: 40%;
}
footer .sns a {
  width: 25%;
  font-weight: bold;
  line-height: 60px;
  font-size: 1.2em;
  float: left;
  -webkit-transition: all, 0.3s;
          transition: all, 0.3s;
  text-align: center;
  text-decoration: none;
  color: white;
}
footer .sns a:hover {
  -webkit-transition: all, 0.3s;
          transition: all, 0.3s;
  background-color: #222222;
}
footer .sns .insta {
  background-color: #e4405f;
}
footer .sns .fb {
  background-color: #3b5999;
}
footer .sns .tw {
  background-color: #55acee;
}
footer .sns .contact {
  background-color: #26C6DA;
}
@media (max-width: 490px) {
  /* リスト */
  .list{
    width: 98%;
    padding-bottom: 100px;
  }
  .free-list{
    width: 100%;
    float:none;
  }
  .list-title_second{
    padding:14px 0 2px 0;
  }
  .time-list{
    width: 100%;
    float: none;
  }
   table td{
    font-size: 13px;
    font-weight: 700;
  }
  .space-bottom{
    padding-bottom: 40px;
  }
  .info{
    font-size: 14px;
  }
  .contents {
    margin-bottom: 200px;
  }
  .head-image{
    height: 200px;
  }
  .google-form{
    padding-bottom: 120px;
  }
  /* テーブル */ 
  table th{
    width: 20%;
  }
  table th:after{
    width: 17%;
    right:20%;
  }
  table td{
    width: 40%;
  }
  .middle-wrapper{
    padding-bottom: 40px;
    width: 86%;
    margin:0 auto;
  }
  .list-title{
    border-left: 7px solid rgb(94, 194, 252);
    padding-left: 15px;
  }
  .list-title_second{
    font-size: 20px;
    color: rgb(7, 148, 101);
  }
  .space-bottom{
    padding-bottom: 160px !important;
  }
  /* footer */
  footer {
    height: auto;
  }
  footer .sns .contact{
    font-size: 16px;
  }
  footer .copyright {
    width: 100%;
  }
  footer .copyright p {
    padding: 0;
    text-align: center;
  }
  footer .sns {
    width: 100%;
  }
 
}
@media (max-width: 767px) {
  .cp_offcm02 {
    height: 100%;
    display: none;
  }
   /* リスト */
  .list{
    width: 98%;
  }
  .free-list{
    width: 100%;
    float:none;
  }
  .list-title_second{
    padding:14px 0 2px 0;
  }
  .time-list{
    width: 100%;
    float: none;
  }
   table td{
    font-size: 17px;
    font-weight: 900;
  }
  table th{
    font-weight: 600;
    font-size: 17px;
  }
  .space-bottom{
    padding-bottom: 90px;
  }
  .info{
    font-size: 15px;
  }
  .contents {
    margin-bottom: 200px;
  }
  .head-image{
    height: 200px;
  }
  .google-form{
    padding-bottom: 120px;
  }
 /* テーブル */ 
  table th{
    width: 20%;
  }

  table th:after{
    width: 17%;
    right:20%;
  }
  table td{
    width: 40%;
  }
  .middle-wrapper{
    padding-bottom: 40px;
    width: 86%;
    margin:0 auto;
  }
  .list-title{
    border-left: 7px solid rgb(94, 194, 252);
    padding-left: 15px;
  }
  .list-title_second{
    font-size: 23px;
    color: rgb(7, 148, 101);
  }
/* menu */
  .cp_offcm02 {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;
    padding-top: 60px;
    -webkit-transition: opacity 0.3s ease-in, visibility 0.3s ease-in 0.3s;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in 0.3s;
    opacity: 0;
    background-color: rgba(51,51,51,0.95);
  }
  .cp_offcm02 nav {
    background: rgb(214, 198, 209);
  }
  .cp_offcm02 li {
    display: block;
    color: rgb(245, 243, 243 0.5);
    border-bottom: 1px solid rgba(51,51,51,0.95);
  }
  .cp_offcm02 a {
    padding: 1.2em;
  }
  .cp_offcm02 a:hover {
    background-color: rgb(0, 0, 0 ,0.2);
  }
  /* menu toggle */
  .cp_mobilebar {
    display: block;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 25px;
    width: 100%;
    height: 60px;
    background-color: rgba(90, 88, 88, 0.95);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .cp_menuicon {
    display: block;
    position: relative;
    width: 25px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
  }
  .cp_menuicon > span {
    display: block;
    position: absolute;
    top: 55%;
    margin-top: -0.3em;
    width: 100%;
    height: 0.2em;
    border-radius: 1px;
    background-color: #eeeeee;
    -webkit-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
  }
  .cp_menuicon > span:before, .cp_menuicon > span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    background-color: #eeeeee;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
  }
  .cp_menuicon > span:before {
    -webkit-transform: translateY(-0.6em);
    transform: translateY(-0.6em);
    }
  .cp_menuicon > span:after {
    -webkit-transform: translateY(0.6em);
    transform: translateY(0.6em);
  }
  #cp_toggle02:checked + .cp_mobilebar .cp_menuicon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cp_toggle02:checked + .cp_mobilebar span:before,
  #cp_toggle02:checked + .cp_mobilebar span:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #cp_toggle02:checked ~ .cp_offcm02 {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  /* content */
  .cp_container {
    top:60px;
  }
  /* .contact */
  .google-form{
    padding-top: 150%;
  }
  .head-image{
    height: 300px;
  }
  .page__title{
    font-size: 30px;
  }
  footer .sns .contact{
    font-size: 12px;
  }
}
@media(min-width:980px){
  .google-form{
    padding-top: 150%;
  }
}
@media (max-width: 1200px) {
  .free-list{
    width: 100%;
    float:none;
  }
  .time-list{
    width: 100%;
    float: none;
  }
}
